.chat-messages .chat-line {
	position: relative;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.spammerino-highlight .chat-messages .chat-line:hover {
  background-color: #EF5350 !important;
  border-bottom-color: #EF5350 !important;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.spammerino-global-hover-pin .js-chat-more-messages {
  pointer-events: none;
}

img.emoticon {
  cursor: pointer;
}

img.emoticon:hover {
  filter: brightness(120%);
}

img.emoticon:active {
  filter: brightness(90%);
}
